$d-flex:flex;
$d-r:row;
$d-rr:row-reverse;
$d-c:column;
$d-cr:column-reverse;
$justify-center:center;
$justify-end:end;
$justify-between:space-between;
$justify-around:space-around;
$justify-evenly:space-evenly;
$align-center:center;
$align-end:end;